<mat-card>
  <mat-toolbar style="background-color: #ffffff; display: flex; justify-content: space-between;">
    <div>
      <a routerLink="home">
        <img
          src="https://static.wixstatic.com/media/4ea17e_6d0e2d918f164bc5ad5e1ac871528f28~mv2.png/v1/fill/w_222,h_47,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo-default.png"
          alt=""
      />
    </a>
    </div>

    <div style="display: flex; gap: 8px;">
      <a  mat-raised-button  routerLink="india-region" >India Region</a>
      <a  mat-raised-button  routerLink="weather-info">Weather Info</a>
      <a  mat-raised-button  routerLink="calculator">Calculator</a>
    </div>
  </mat-toolbar>
</mat-card>
